body{
    background-color: #E9F1FA;
}

.div-input{
    background-color: #E9F1FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 500px;
    margin: auto;
}

.div-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#addTaskInput{
    border-radius: 10px;
    border-color: white;
    padding: 3px;
    width: 1000px;
    margin-right: 100px;
}

#addTaskButton{
    border-radius: 10px;
    border-color: white;
    background-color: #00ABE4;
    color: white;
    padding: 3px;
    width: 200px;
    text-align: center;
}

button{
    border-radius: 10px;
    border-color: white;
    background-color: #00ABE4;
    color: white;
    padding: 3px;
    text-align: center;
}

ul{
    justify-content: center;
    align-items: center;
    margin: auto;
    list-style-type: none;
    background-color: white;
    width: 480px;
    padding: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    padding: 5px;
    
}

ul li:nth-child(odd) {
    background-color: #61eeee;
}

ul li:nth-child(even) {
    background-color: #6890f3;
}

.input{
    border-radius: 10px;
    border-color: white;
    padding: 3px;
    width: 1000px;
    margin-right: 100px;
}